* {
    margin:0;
    padding: 0;
}

body {
    display: flex;
    width: 100vw;
    height:100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(to bottom right,rgb(185, 215, 238), rgb(70, 161, 226),  rgb(22, 42, 222));
}
.heading{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: rgb(56, 13, 227);
}

.home-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height:60%;
}
#question {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 20px

}
 .container__question{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 800px;
    max-width: 60%;
    height: 70vh;
    border-radius: 10px;
    background-color: rgb(196, 153, 236);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;

}

.btn {
    border: 2px solid black;
    opacity: 50%;
    border-radius: 10px;
    background-color: rgb(232, 146, 218);
    padding: 20px;
    margin: 20px;
    font-size: 20px;
   
}

.btn:hover {
    opacity: 100%;

}

.start-btn, .next-btn, .home-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding:10px 20px;

}
.control-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.hide{
    display: none;
}

.correct {
    background-color: rgb(108, 225, 108);
    background-image: radial-gradient(circle, pink,  rgb(108, 225, 108),  rgb(108, 225, 108));
}

.incorrect {
    background-image: radial-gradient(circle, orange, red, red);
   
}